// Sizes
$leftBarwidth: 320px;
$topBarheight: 7.5rem;
$footerHeight: 2rem;

$stampDotsRadius: 20px;

// Colors
$bodyColor: #F5F5F5;
$shadowColor: lightgray;
$redColor: #900000;

// Shadow
$shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);